# Ignore virtual environment
venv_paper_visualizer/

# Ignore environment variables
.env

# Ignore deployment configurations
rsconnect/

# Ignore commands previously executed in R session. 
.Rhistory

# Ignore abstract_embeddings.json because it is exceeds GitHub's file size limit of 100.00 MB
abstract_embeddings.json